#step2-form {
  padding: 2rem;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-control__title {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 1px solid rgb(118, 118, 118);
      border-radius: 8px;
      padding-inline: 1rem;
    }
    .form-control__title:hover {
      border-color: var(--chakra-colors-chakra-border-color);
    }

    .form-control__input {
      margin-top: 1rem;
    }

    .avatar-image {
      justify-content: left;
    }

    .image-container {
      width: 100%;
      padding-top: 1rem;
      display: contents;
    }

    input {
      align-content: center;
    }
  }

  .avatar-preview {
    margin-top: 1rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e2e8f0;
  }

  .buttons-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
